
<%- include("header") -%>

  <div class="box" id="heading">
    <h1><%=listName%></h1>
  </div>

  <div class="box">

    <% newItems.forEach(function(i){ %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="checkBox" value="<%= i._id %>"  onChange="this.form.submit()" >
          <p><%= i.name %></p>
          <input type="hidden" name="listNametoDlt" value="<%= listName %>" >
        </div>
    </form>
    <% }); %>

    <form action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item">
      <button type="submit" name="typeOfList" value="<%= listName %>" >+</button>
    </form>
  </div>

<%- include("footer") -%>
